html {
  position: relative;
  min-height: 100%;
  font-family: 'Alegreya', serif;
}
body {
  margin-bottom: 120px; /* Margin bottom by footer height */
  background-color: #FCFFE7;
}


h1{
	font-family: 'Alegreya Sans', sans-serif;
	color: #EB455F;
}
img{
	width: 56%;
}
.bg-img{
	text-align: center;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
 /*   font-size: 12px;
    letter-spacing: 5px;*/
    background-color: #2B3467;
}
.navbar-nav  li a:hover {
    color: #EB455F !important;
}

.home{
	margin-top: 20px;
}

@media(max-width: 770px){
	img{
	width: 100%;
	}
}
#contact{
	font-size: 1.8rem;
	text-align: center;
}

.fa-brands{
	color: #BAD7E9;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
/*  height: 60px; Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #2B3467;

}